* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.comp-value-props {
    background: linear-gradient(#f9f1ff, #fff 20%);
}
.o-content-container {
    margin: 0 auto;
    padding: 0 8vw;
}
.comp-value-props .comp-value-props__content {
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    padding: 10rem 0;
}
.comp-value-props .comp-value-props__content-reduced-motion .comp-value-props__card {
    justify-content: space-between;
    margin-bottom: 24rem;
    display: flex
;
}
.comp-value-props .comp-value-props__card-text {
    max-width: 27.5rem;
  }
  .comp-value-props .comp-value-props__card-text .comp-value-props__card-text-header {
	text-transform: uppercase;
	align-items: center;
	column-gap: .75rem;
	padding-bottom: 1rem;
	font-size: .875rem;
	font-weight: 700;
	display: flex;
}
.comp-value-props .comp-value-props__card-text .comp-value-props__card-text-subheader {
    font-weight: var(--keydesign-h2-font-weight);
margin-bottom: 12px;
  transition: var(--global-transition);
text-align: center;
  letter-spacing: -.75px;
  font-size: 3.125rem;
line-height: 3.5rem;
  margin-top: unset !important;
  color: #000;
  }
  .comp-value-props__card-text-subheader span {
    color: var( --e-global-color-f1e3bf4 );
    display: block;
  }
  .comp-value-props .comp-value-props__card-text .comp-value-props__card-text-main {
    font-size: 1.125rem;
  font-size: 17px;
  margin-bottom: 10px;
  font-family: var(--e-global-typography-text-font-family);
  font-weight: var(--e-global-typography-text-font-weight);
  font-size: var(--font-size-paragraphs);
  line-height: var(--line-height-paragraph);
  letter-spacing: 0em;
  text-transform: none;
  font-style: normal;
  color: var(--color-text);
  }
  .comp-value-props .comp-value-props__card-text .comp-value-props__card-text-bottom {
    align-items: center;
    column-gap: 1rem;
    padding-top: 3rem;
    display: flex;
  }
  .comp-value-props .comp-value-props__card-text .comp-value-props__card-text-number {
    color: #9602c7;
    font-size: 3.125rem;
    font-weight: 600;
    display: flex;
  }
  .comp-value-props .comp-value-props__card-text .comp-value-props__card-text-number-info {
    flex: 2;
    font-size: 1.125rem;
  }
  sup {
    top: -.5em;
  }
  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }
  .comp-value-props .comp-value-props__card-asset {
    display: none;
  }
  .comp-value-props .comp-value-props__card-asset-content {
    justify-content: center;
    height: auto;
    display: flex;
    position: relative;
  }
  .comp-value-props .comp-value-props__content-animated .comp-value-props__card-asset-content {
    position: sticky;
    top: 25%;
    width: 600px;
  }
  .comp-value-props .comp-value-props__content-animated .comp-value-props__card-asset-content video {
    height: 0;
  }
  .comp-value-props .comp-value-props__content-animated:not(.should-hide) video {
    opacity: 1;
    animation: .35s forwards showVidAnimation;
  }
  @keyframes showVidAnimation {
    0% {
        opacity: 0;
        transform: scale(.9)translate(10%);
      }
      90% {
        opacity: 1;
        transform: scale(1.03);
      }
      100% {
        opacity: 1;
      }
  }
  .comp-value-props .comp-value-props__card-asset-content .comp-value-props__card-asset-video {
    z-index: 1;
    border-radius: .5rem;
    max-width: 600px;
    width: 600px;
  }
  .comp-value-props__content-animated video {
    vertical-align: baseline;
    display: inline-block;
  }
  .comp-value-props .comp-value-props__content-animated .comp-value-props__card-asset-content video.active {
    height: auto;
  }
  .comp-value-props .comp-value-props__card-asset-content .comp-value-props__card-asset-decoration {
    z-index: 0;
    position: absolute;
    top: -17%;
    left: 18%;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  .comp-value-props .comp-value-props__content-animated .comp-value-props__card-asset-decoration {
    z-index: -1;
  }
  svg:not(:root) {
    overflow: hidden;
  }

  .comp-value-props__card-text .ekit-btn-wraper a {
	overflow: hidden;
	background-color: #6000AC;
	border-style: none;
	padding: 17px 20px 17px 20px;
	text-decoration: none;
	border-radius: var(--button-border-radius);
	transition: var(--global-transition);
	font-size: var(--font-size-default);
	font-family: var(--e-global-typography-accent-font-family);
	font-weight: var(--e-global-typography-accent-font-weight);
	position: relative;
	align-items: center;
	display: inline-flex;
	color: #fff;
	line-height: 1;
	user-select: none;
	vertical-align: middle;
	text-align: center;
	outline: 0;
	box-shadow: none;
	white-space: normal !important;
}
.comp-value-props__card-text .ekit-btn-wraper a i {
    margin-left: 10px;
    font-size: 15px;
    display: inline-block;
  }
  .comp-value-props__card-text .ekit-btn-wraper a::before {
	position: absolute;
	content: "";
	border-radius: inherit;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: 102% 102%;
	opacity: 0;
    transition: var(--global-transition);
}
  .comp-value-props__card-text .ekit-btn-wraper a:hover::before {
    opacity: 1;
  }
  .comp-value-props__card-text .ekit-btn-wraper a::after {
    content: attr(data-text);
    display: inline-block;
    position: absolute;
    top: 50%;
    opacity: 0;
    transform: translate(0, 100%);
    transition: opacity 0.2s, transform 0.2s;
      transition-timing-function: ease, ease;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    white-space: nowrap;}

  .comp-value-props__card-text .ekit-btn-wraper a:hover::after {
    transform: translate(0%, -50%);
    opacity: 1;
  }
  .comp-value-props__card-text .ekit-btn-wraper a:hover .button-wrapper {
    transform: translateY(-150%);
    opacity: 0;
  }
  .comp-value-props__card-text .ekit-btn-wraper a .button-wrapper {
    transition: opacity 0.2s, transform 0.2s;
      transition-timing-function: ease, ease;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }






@media screen and (width >= 48rem) {
    .o-content-container {
        padding: 0 4vw;
    }
}
@media screen and (width >= 84.875rem) {
    .o-content-container {
        padding: 0;
    }
    .o-content-container {
        max-width: 76.875rem;
        padding: 0;
    }
}
@media screen and (width >= 84.875rem) {
    .o-content-container {
        max-width: 76.875rem;
        padding: 0;
    }
}